<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    </head>
    <body>
        <h1>Hello, {{ user.username }}!</h1>
        <div id="time_div">{{ time }} </div>
        <div id="eth_price"></div>
        <div>
            <canvas id="linechart" width="1000" height="450"></canvas>
        </div>
        <script type=text/javascript src="{{url_for('static', filename='js/update.js') }}"></script>
    </body>
</html>